{% extends "base.html" %}
{% block title %}Controller{% endblock %}
{% block content %}
<div class="controller-inputs">
    <span id="status"></span>
    <input type="text" placeholder="Team Name" id="team-name" style="flex-grow: 2" autofocus>
    <input type="submit" value="Submit" onclick="registerController()">
</div>
<script>
    teamNameInput = document.getElementById("team-name");
    statusText = document.getElementById("status");

    function registerController() {
        teamName = teamNameInput.value;
        $(statusText).html("Trying to add controller... <br>");
        $.getJSON( URL + "register_controller?name=" + teamName, function(data) {

            if (data.response == "success") {
                $(statusText).html("Success! <br>");
                window.location.replace(window.location.origin + "/controller?id=" + data.id);
            } else {
                $(statusText).html("Failed - Make sure there is less than 4 controllers setup and you have entered a name <br>")
            }
        });
    }
</script>
{% endblock %}
