{% extends "base.html" %}
{% block title %}Controller{% endblock %}
{% block content %}
    <div id="container">

    </div>
{% endblock %}
{% block scripts %}
<script>
    var container = document.getElementById("container");
    answered = false;
    var data;

    var buttonsTemplate = ' \
            <div class="multiple-choice-container"> \
                <button class="multiple-choice-button" id="answer-0" style="background-color:rgb(255, 69, 69)"></button> \
                <button class="multiple-choice-button" id="answer-1" style="background-color:rgb(255, 253, 69)"></button> \
                <button class="multiple-choice-button" id="answer-2" style="background-color:rgb(84, 255, 69)"></button> \
                <button class="multiple-choice-button" id="answer-3" style="background-color:rgb(69, 149, 255)"></button> \
            </div> \ ';

    var waitingForTeamsTemplate = ' \
        <div class="waiting-for-teams"> \
            Waiting for other teams to join... \
            <br> \
            <input type="submit" class="start" onclick="startQuiz()" href="#" value="Start Quiz"> \
        </div>';

    function startQuiz() {
        $.getJSON(URL + "start_quiz");
    }

    function loadButtons() {
        if (data["session"]["status"] == "waiting-for-teams") { // If previous status was waiting for teams
            $(container).html(buttonsTemplate);
        }
        $(".multiple-choice-button").click(function (event) {
            if (answered == false) {
                buttonsDisabled(true);
                answered = true;
                caller = event.target.id;
                answer = caller.slice(-1);
                console.log(answer);
                $.getJSON( URL + "send_answer?team_id=" + $.urlParam('id') + "&answer=" + answer, function(data) {

                });
            } else {
                if (supportsVibrate) {
                    navigator.vibrate(75);
                }
            }
        })
    }

    function buttonsDisabled(disabled) {
        if (disabled) {
            $(".multiple-choice-button").addClass("inactive");
        } else {
            $(".multiple-choice-button").removeClass("inactive");
        }
    }

    function getData() {
        $.getJSON(URL + "session_data", function(response) {
            if (response["session"]["teams"].length == 0) {
                location.reload();
            }
            if (response["session"]["status"] == "waiting-for-teams") {
                data = response;
                $(container).html(waitingForTeamsTemplate)
            } else {
                loadButtons();
                if (data === undefined) {
                    cur_question = null;
                } else {
                    cur_question = data["session"]["cur_question"];
                }
                data = response;
                if (cur_question != data["session"]["cur_question"]) {
                    answered = false;
                    buttonsDisabled(false);
                }
            }
        });
        setTimeout(getData, 5000);
    }
    getData();
</script>
{% endblock %}
