body {
    background-color: #e06868;
    font-family: sans-serif;
    color: #fff;
    user-select: none;
    -webkit-user-select: none
}

.stats {
    display: flex;
    justify-content: space-around
}

.stat {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center
}

.stat>p {
    margin: 4px
}

.stat>img {
    margin-left: auto;
    margin-right: auto;
    width: 10vh
}

.question {
    font-size: x-large;
    text-align: center
}

.answers {
    font-size: large;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0
}

.answer {
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    text-shadow: 2px 2px 8px #000
}

input {
    border-radius: 5px;
    border: transparent;
    background-color: white;
    color: black;
    -webkit-appearance: none;
    padding: 10px;
    margin: 5px
}

input[type=button] {
    background-color: #ffd4d4
}

.controller-inputs {
    display: flex;
    align-items: stretch
}

.multiple-choice-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 70vw;
    width: 70vw;
    justify-content: center;
    align-content: space-between;
}

.multiple-choice-button {
    width: 49%;
    height: 49%;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    margin: 0.5%;
}

.inactive {
    filter: grayscale(70%);
}
